In [1]:
import os
import pandas as pd
import numpy as np
from math import sqrt
from tqdm import tqdm

from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error

### Load Dataset

In [2]:
path = '../data'
ratings_df = pd.read_csv(os.path.join(path, 'ratings.csv'), encoding='utf-8')

print(ratings_df.shape)
ratings_df.head(2)

(100836, 4)

   userId  movieId  rating  timestamp
0       1        1     4.0  964982703
1       1        3     4.0  964981247

In [3]:
train_df, test_df = train_test_split(ratings_df,
                                     test_size=0.2,
                                     random_state=1234)
print(train_df.shape)
print(test_df.shape)

(80668, 4)
(20168, 4)

### Sparse Matrix 만들기

In [4]:
sparse_matrix = train_df.groupby('movieId').apply(lambda x : pd.Series(x['rating'].values, index=x['userId']))
sparse_matrix = sparse_matrix.unstack()

sparse_matrix.head(2)

userId,1,2,3,4,5,6,7,8,9,10,...,601,602,603,604,605,606,607,608,609,610
movieId,,,,,,,,,,,,,,,,,,,,,
1,NaN,NaN,NaN,NaN,4.0,NaN,4.5,NaN,NaN,NaN,...,4.0,NaN,4.0,3.0,4.0,2.5,NaN,2.5,NaN,5.0
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.0,NaN,NaN,...,NaN,4.0,NaN,NaN,3.5,NaN,NaN,2.0,NaN,NaN

### Cosine Similarity

In [5]:
from sklearn.metrics.pairwise import cosine_similarity

def cos_sim_matrix(a, b):
    cos_sim_values = cosine_similarity(a.values, b.values)
    
    return pd.DataFrame(data=cos_sim_values,
                         columns=a.index,
                         index=a.index)

### Neighborhood-based Collaborative Filtering

### 1) Item-based

In [6]:
item_sparse_matrix = sparse_matrix.fillna(0)

item_sparse_matrix.shape

(8938, 610)

In [276]:
item_cossim_df = cos_sim_matrix(item_sparse_matrix, item_sparse_matrix)

print(item_cossim_df.shape)
item_cossim_df.head(2)

(8938, 8938)

movieId,1,2,3,4,5,6,7,8,9,10,...,190219,191005,193565,193567,193571,193573,193579,193581,193587,193609
movieId,,,,,,,,,,,,,,,,,,,,,
1,1.000000,0.304336,0.267816,0.040259,0.221228,0.266544,0.149392,0.132943,0.182044,0.296838,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.304336,1.000000,0.226138,0.052482,0.154783,0.209716,0.189420,0.068012,0.027945,0.303157,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [271]:
# movie id : 8938
# user id : 610
item_prediction_result_df = pd.DataFrame(index=item_sparse_matrix.columns,
                                         columns=item_sparse_matrix.index)

item_prediction_result_df

movieId,1,2,3,4,5,6,7,8,9,10,...,190219,191005,193565,193567,193571,193573,193579,193581,193587,193609
userId,,,,,,,,,,,,,,,,,,,,,
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
606,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
607,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
608,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
609,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
610,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [272]:
def func(data):
    # (1 x n) x (n x 8938) => (1 x 8938)
    # (유저가 본 영화 평점 * 유저가 본 영화와의 유사도) / 유사도 총 합
    user_data = train_df[train_df['userId'] == data.name]
    user_sim = item_cossim_df.loc[user_data['movieId'].values].values
    
    item_prediction_result_df.loc[data.name] = np.matmul(user_data['rating'].values.reshape(1,-1), user_sim).squeeze() / (user_sim.sum(0)+1)
    
item_prediction_result_df.apply(func, axis=1)

item_prediction_result_df.head(10)

movieId,1,2,3,4,5,6,7,8,9,10,...,190219,191005,193565,193567,193571,193573,193579,193581,193587,193609
userId,,,,,,,,,,,,,,,,,,,,,
1,4.20279,4.18783,4.17609,3.03272,4.04561,4.24019,3.9933,3.90547,3.70279,4.18855,...,0.979003,0,0,0,0,0,0,0,0,1.38273
2,3.19261,3.15207,2.46138,0.280903,2.61916,2.9754,1.85877,1.68768,1.09268,3.02235,...,0.387743,1.70885,1.70885,1.70885,1.70885,1.70885,1.70885,1.70885,1.70885,2.32666
3,1.32315,1.20446,1.39635,0.217016,0.819716,1.59889,0.802514,0.755008,0.86708,1.55365,...,0,0,0,0,0,0,0,0,0,0
4,3.48994,3.48805,3.38864,3.15017,3.30488,3.50267,3.31794,2.90629,3.03413,3.41697,...,1.0335,0.505535,0.505535,0.505535,0.505535,0.505535,0.505535,0.505535,0.505535,1.963
5,3.27916,3.1278,2.99947,2.56582,2.94179,3.16869,3.00793,2.67809,2.27668,3.01557,...,0.391638,0,0,0,0,0,0,0,0,0.562705
6,3.58597,3.57233,3.53615,3.33866,3.51444,3.5477,3.53826,3.42057,3.3406,3.55275,...,0.446497,0,0,0,0,0,0,0,0,0.672442
7,3.36009,3.25338,3.24516,2.22581,3.2114,3.33808,3.1832,2.8918,2.89194,3.3515,...,0.872628,0.3554,0.3554,0.3554,0.3554,0.3554,0.3554,0.3554,0.3554,2.50752
8,3.26123,3.22385,3.03702,2.58129,2.94548,3.21505,3.06126,2.6713,2.37,3.17426,...,0.597653,0,0,0,0,0,0,0,0,0.730709
9,2.80797,2.62156,2.28209,0.767416,2.25043,2.64179,2.04582,1.59945,1.07072,2.63652,...,0.458811,0,0,0,0,0,0,0,0,0
10,3.07042,3.04355,2.85983,0.908598,2.97965,2.905,2.75228,2.24064,1.58879,3.05624,...,0.63253,1.21136,1.21136,1.21136,1.21136,1.21136,1.21136,1.21136,1.21136,2.33335

### 2) User-based

In [275]:
user_sparse_matrix = sparse_matrix.fillna(0).T

user_sparse_matrix.shape

(610, 8938)

In [277]:
user_cossim_df = cos_sim_matrix(user_sparse_matrix, user_sparse_matrix)

print(user_cossim_df.shape)
user_cossim_df.head(2)

(610, 610)

userId,1,2,3,4,5,6,7,8,9,10,...,601,602,603,604,605,606,607,608,609,610
userId,,,,,,,,,,,,,,,,,,,,,
1,1.000000,0.016665,0.07057,0.160438,0.07541,0.087404,0.123664,0.069225,0.037416,0.009900,...,0.056163,0.124896,0.162324,0.050852,0.101583,0.128198,0.240652,0.225897,0.063984,0.095228
2,0.016665,1.000000,0.00000,0.004295,0.02056,0.030996,0.027726,0.000000,0.000000,0.057112,...,0.151666,0.019379,0.006645,0.000000,0.000000,0.028180,0.000000,0.046286,0.033522,0.090288

In [280]:
user_prediction_result_df = pd.DataFrame(index=user_sparse_matrix.columns,
                                         columns=user_sparse_matrix.index)
user_prediction_result_df.shape

(8938, 610)

In [310]:
def func(data):
    
    movie_data = train_df[train_df['movieId'] == data.name]
    movie_sim = user_cossim_df.loc[movie_data['userId'].values]
    
    user_prediction_result_df.loc[data.name] = np.matmul(movie_data.rating.values,
                                                         movie_sim.values) / (movie_sim.sum(0)+1)

user_prediction_result_df.apply(func, axis=1)
user_prediction_result_df = user_prediction_result_df.T

user_prediction_result_df.head(10)

,1,2,3,4,5,6,7,8,9,10,...,190219,191005,193565,193567,193571,193573,193579,193581,193587,193609
userId,,,,,,,,,,,,,,,,,,,,,
1,3.67043,3.01898,3.02703,0.636151,2.33427,3.65344,2.54601,1.01293,1.59897,3.2986,...,0.0654522,0,0,0,0,0,0,0,0,0.140421
2,3.34895,2.57281,1.7197,0.146062,1.55944,2.9715,1.49602,0.289957,0.408521,2.88504,...,0.0463527,0.427493,0.332495,0.284995,0.379994,0.379994,0.332495,0.379994,0.332495,0.592074
3,2.121,1.27956,1.26626,0.0367179,0.466202,2.1174,0.780114,0.104695,0.218952,1.8424,...,0,0,0,0,0,0,0,0,0,0
4,3.61963,2.93753,2.73966,0.72914,2.1024,3.50549,2.50204,0.613417,1.2701,3.09378,...,0.0574532,0.052407,0.040761,0.034938,0.046584,0.046584,0.040761,0.046584,0.040761,0.251308
5,3.76122,3.21044,2.92431,0.957915,2.54943,3.45657,2.85021,1.20054,1.5878,3.13192,...,0.0586848,0,0,0,0,0,0,0,0,0.142512
6,3.83087,3.32198,3.32667,1.21591,3.03136,3.60413,3.11031,1.63385,2.15392,3.25954,...,0.0290969,0,0,0,0,0,0,0,0,0.0660016
7,3.77535,3.10961,2.83467,0.572114,2.35059,3.64751,2.62267,0.940899,1.55949,3.36406,...,0.0674776,0.0409324,0.0318363,0.0272883,0.0363844,0.0363844,0.0318363,0.0363844,0.0318363,0.58529
8,3.79756,3.3381,3.12298,1.16575,2.71027,3.53906,3.00015,1.44235,1.66749,3.22467,...,0.0958472,0,0,0,0,0,0,0,0,0.202119
9,3.17211,2.35781,1.68523,0.0990461,1.19739,2.80897,1.40665,0.275126,0.327804,2.82822,...,0.0636902,0,0,0,0,0,0,0,0,0
10,3.53956,2.8281,2.16925,0.172367,1.72931,3.11516,1.83001,0.387772,0.468644,3.10031,...,0.0432531,0.213547,0.166092,0.142364,0.189819,0.189819,0.166092,0.189819,0.166092,0.562335

In [325]:
item_prediction_result_df.shape, user_prediction_result_df.shape

((610, 8938), (610, 8938))

### Evaluation (RMSE)

In [326]:
test_df.head(2)

       userId  movieId  rating   timestamp
99731     610     3527     5.0  1479545223
97583     606     1250     3.5  1171376891

In [327]:
set(test_df.userId.unique()) - set(train_df.userId.unique())

set()

In [324]:
set(test_df.movieId.unique()) - set(train_df.movieId.unique())

{49,
 117,
 137,
 178,
 241,
 320,
 359,
 478,
 488,
 495,
 511,
 563,
 632,
 645,
 679,
 722,
 773,
 790,
 896,
 1119,
 1310,
 1335,
 1336,
 1337,
 1349,
 1412,
 1427,
 1428,
 1507,
 1519,
 1659,
 1671,
 1685,
 1798,
 1807,
 1891,
 1902,
 1932,
 2008,
 2154,
 2164,
 2172,
 2175,
 2260,
 2281,
 2298,
 2370,
 2388,
 2419,
 2462,
 2503,
 2577,
 2652,
 2659,
 2665,
 2727,
 2738,
 2765,
 2800,
 2813,
 2848,
 2876,
 2885,
 2887,
 2893,
 2896,
 2979,
 2983,
 3013,
 3057,
 3086,
 3106,
 3125,
 3162,
 3276,
 3315,
 3345,
 3353,
 3379,
 3428,
 3434,
 3459,
 3622,
 3674,
 3694,
 3700,
 3737,
 3807,
 3813,
 3834,
 3855,
 3857,
 3939,
 3941,
 3945,
 4074,
 4139,
 4174,
 4181,
 4202,
 4242,
 4243,
 4297,
 4353,
 4374,
 4384,
 4390,
 4426,
 4440,
 4454,
 4458,
 4524,
 4557,
 4581,
 4615,
 4635,
 4646,
 4653,
 4660,
 4695,
 4710,
 4769,
 4777,
 4786,
 4810,
 4828,
 4879,
 4998,
 5033,
 5051,
 5053,
 5063,
 5071,
 5095,
 5109,
 5197,
 5209,
 5212,
 5221,
 5224,
 5240,
 5241,
 5268,
 5278,
 5300,
 5328,
 5398,
 5442,
 5455,
 5458,
 5461,
 5490,
 5513,
 5525,
 5531,
 5550,
 5575,
 5581,
 5591,
 5607,
 5629,
 5638,
 5699,
 5720,
 5746,
 5752,
 5773,
 5779,
 5797,
 5801,
 5817,
 5828,
 5829,
 5847,
 5901,
 5919,
 5947,
 6020,
 6049,
 6086,
 6111,
 6145,
 6181,
 6192,
 6201,
 6204,
 6222,
 6237,
 6295,
 6395,
 6424,
 6434,
 6510,
 6528,
 6551,
 6568,
 6572,
 6573,
 6574,
 6588,
 6603,
 6604,
 6691,
 6692,
 6715,
 6788,
 6836,
 6837,
 6883,
 6899,
 6927,
 6969,
 6973,
 6990,
 6994,
 7012,
 7038,
 7045,
 7050,
 7058,
 7061,
 7088,
 7103,
 7122,
 7125,
 7141,
 7167,
 7177,
 7190,
 7205,
 7217,
 7218,
 7219,
 7223,
 7238,
 7245,
 7260,
 7266,
 7306,
 7308,
 7345,
 7390,
 7443,
 7561,
 7572,
 7616,
 7714,
 7749,
 7766,
 7772,
 7811,
 7815,
 7826,
 7833,
 7843,
 7882,
 7891,
 7900,
 7926,
 7951,
 7993,
 8019,
 8131,
 8137,
 8143,
 8188,
 8225,
 8239,
 8293,
 8302,
 8375,
 8379,
 8402,
 8427,
 8463,
 8492,
 8494,
 8530,
 8534,
 8593,
 8684,
 8685,
 8800,
 8804,
 8952,
 8989,
 8998,
 25757,
 25782,
 25833,
 25870,
 25962,
 25999,
 26002,
 26038,
 26073,
 26078,
 26142,
 26176,
 26347,
 26399,
 26401,
 26429,
 26472,
 26498,
 26587,
 26622,
 26645,
 26694,
 26713,
 26736,
 26741,
 26761,
 26791,
 26819,
 26887,
 26913,
 26999,
 27074,
 27075,
 27105,
 27124,
 27140,
 27329,
 27473,
 27537,
 27549,
 27667,
 27778,
 27869,
 27905,
 31049,
 31083,
 31437,
 31522,
 31617,
 32009,
 32243,
 32392,
 32632,
 32649,
 32659,
 32666,
 32799,
 33124,
 33126,
 33188,
 33294,
 33421,
 33629,
 33893,
 34811,
 35807,
 36931,
 38159,
 38992,
 40478,
 40491,
 41769,
 42730,
 42740,
 43677,
 43684,
 44238,
 44241,
 44243,
 44943,
 46231,
 46664,
 46862,
 47202,
 47254,
 47446,
 47721,
 48045,
 48214,
 48598,
 48649,
 49314,
 49735,
 49917,
 50274,
 50796,
 50942,
 51666,
 51933,
 52299,
 52715,
 53280,
 53578,
 54686,
 54768,
 54910,
 54934,
 55110,
 55555,
 55729,
 55805,
 55854,
 56003,
 56389,
 56869,
 57147,
 57183,
 57910,
 59026,
 59295,
 59915,
 60128,
 60538,
 60832,
 60857,
 61257,
 61319,
 61986,
 62208,
 62437,
 62553,
 62970,
 63222,
 63515,
 64114,
 65037,
 65225,
 65359,
 65577,
 65588,
 65596,
 65601,
 65738,
 66310,
 66544,
 68444,
 68650,
 68835,
 68886,
 69118,
 69495,
 69529,
 70663,
 70703,
 71327,
 71341,
 71619,
 71902,
 71970,
 72142,
 72694,
 72696,
 72919,
 73160,
 73431,
 73676,
 73858,
 74226,
 74370,
 74647,
 75341,
 75803,
 75816,
 76030,
 76301,
 76743,
 77893,
 78142,
 78264,
 79259,
 79897,
 80478,
 80748,
 80839,
 81520,
 81791,
 81831,
 82088,
 82534,
 82641,
 82684,
 82744,
 82765,
 83369,
 83969,
 84187,
 84844,
 85025,
 85213,
 85334,
 86066,
 87287,
 88069,
 88327,
 88448,
 88593,
 88932,
 89085,
 89090,
 89582,
 89678,
 89837,
 89862,
 89939,
 89945,
 90243,
 90428,
 90524,
 91355,
 91386,
 91571,
 91688,
 91784,
 91842,
 91935,
 92048,
 92198,
 92234,
 92243,
 92665,
 92674,
 92954,
 93008,
 93114,
 93193,
 93512,
 93598,
 93819,
 93982,
 93988,
 94122,
 94262,
 94494,
 95193,
 95201,
 95313,
 95508,
 95624,
 95771,
 95839,
 95939,
 96007,
 96471,
 96530,
 96563,
 96832,
 96964,
 97188,
 97988,
 98122,
 98296,
 98799,
 99122,
 99437,
 99636,
 99750,
 100068,
 100277,
 100737,
 101074,
 101531,
 102084,
 102165,
 102217,
 102338,
 102602,
 102735,
 102742,
 102747,
 102800,
 103085,
 103449,
 103606,
 104017,
 104074,
 105121,
 106144,
 106594,
 106785,
 107159,
 108540,
 108601,
 109183,
 109295,
 109383,
 109687,
 109723,
 110330,
 110350,
 110603,
 110781,
 111443,
 111551,
 111785,
 111800,
 112070,
 112303,
 112334,
 113565,
 113705,
 113829,
 113849,
 114335,
 114396,
 114601,
 114670,
 115065,
 115151,
 115203,
 116044,
 116505,
 116849,
 117364,
 117630,
 117646,
 118270,
 119218,
 119828,
 120625,
 120783,
 120827,
 120919,
 121099,
 121169,
 121171,
 121338,
 121715,
 122433,
 122627,
 122888,
 124404,
 125970,
 127116,
 127164,
 127319,
 127323,
 127390,
 128087,
 128089,
 128099,
 128197,
 128542,
 128908,
 130052,
 130083,
 130840,
 131023,
 131098,
 133195,
 133217,
 133281,
 133716,
 133798,
 134019,
 134158,
 134334,
 134859,
 136024,
 136443,
 136469,
 138966,
 139415,
 139655,
 139747,
 139855,
 139857,
 139859,
 140133,
 140265,
 140523,
 140541,
 140561,
 141646,
 141718,
 142056,
 142074,
 142444,
 142550,
 142602,
 143001,
 143458,
 144210,
 144606,
 144714,
 145724,
 146024,
 146210,
 146688,
 147250,
 147328,
 147330,
 147410,
 147657,
 148632,
 149566,
 149612,
 149830,
 151317,
 151687,
 151777,
 152063,
 152372,
 153386,
 153408,
 154358,
 155892,
 157122,
 157172,
 157270,
 157369,
 157865,
 158035,
 158388,
 158398,
 158402,
 158528,
 158842,
 158882,
 159061,
 159069,
 160527,
 160569,
 160848,
 161594,
 161830,
 161918,
 161966,
 162602,
 163386,
 163809,
 164280,
 164375,
 165645,
 165959,
 166203,
 166291,
 167538,
 168026,
 170597,
 170827,
 170837,
 170945,
 171695,
 171749,
 171759,
 171811,
 172321,
 172461,
 172497,
 172577,
 172583,
 172587,
 172589,
 173205,
 173307,
 173535,
 173751,
 173963,
 174141,
 174403,
 174479,
 174727,
 175197,
 175431,
 175435,
 175577,
 175707,
 176329,
 178323,
 179709,
 179813,
 182299,
 182639,
 183199,
 183227,
 183317,
 183959,
 184641,
 185029,
 185031,
 185473,
 186587,
 188751,
 188833,
 189381,
 189713,
 190221,
 193583,
 193585}

In [320]:
def func(data):
    
    item_prediction_result_df.loc[data.userId, data.movieId]

test_df.apply(func, axis = 1)

KeyError: 5550.0

In [319]:
item_prediction_result_df#.loc[1]

movieId,1,2,3,4,5,6,7,8,9,10,...,190219,191005,193565,193567,193571,193573,193579,193581,193587,193609
userId,,,,,,,,,,,,,,,,,,,,,
1,4.20279,4.18783,4.17609,3.03272,4.04561,4.24019,3.9933,3.90547,3.70279,4.18855,...,0.979003,0,0,0,0,0,0,0,0,1.38273
2,3.19261,3.15207,2.46138,0.280903,2.61916,2.9754,1.85877,1.68768,1.09268,3.02235,...,0.387743,1.70885,1.70885,1.70885,1.70885,1.70885,1.70885,1.70885,1.70885,2.32666
3,1.32315,1.20446,1.39635,0.217016,0.819716,1.59889,0.802514,0.755008,0.86708,1.55365,...,0,0,0,0,0,0,0,0,0,0
4,3.48994,3.48805,3.38864,3.15017,3.30488,3.50267,3.31794,2.90629,3.03413,3.41697,...,1.0335,0.505535,0.505535,0.505535,0.505535,0.505535,0.505535,0.505535,0.505535,1.963
5,3.27916,3.1278,2.99947,2.56582,2.94179,3.16869,3.00793,2.67809,2.27668,3.01557,...,0.391638,0,0,0,0,0,0,0,0,0.562705
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
606,3.6229,3.54834,3.4441,3.50806,3.47302,3.63002,3.625,3.27543,3.26219,3.51926,...,1.83383,1.39051,1.39051,1.39051,1.39051,1.39051,1.39051,1.39051,1.39051,2.99518
607,3.66544,3.65456,3.65215,3.0027,3.50511,3.70112,3.53403,3.35029,3.31835,3.66258,...,0.777542,0,0,0,0,0,0,0,0,0.68735
608,3.19053,3.14796,2.95741,2.55002,3.01801,3.25907,2.99704,2.79422,2.78949,3.20234,...,1.95922,0.44408,0.44408,0.44408,0.44408,0.44408,0.44408,0.44408,0.44408,3.46138
609,2.90968,2.85971,2.7548,1.95234,2.63154,2.84516,2.64514,2.41542,2.22803,2.90974,...,0.246588,0,0,0,0,0,0,0,0,0.272122
610,3.77235,3.75405,3.77113,3.17982,3.74405,3.77141,3.84761,3.45494,3.772,3.76092,...,2.1018,3.46181,3.46181,3.46181,3.46181,3.46181,3.46181,3.46181,3.46181,3.80464